*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.flex{
    display: flex;
}

header{
    height: 65px;
    align-items: center;
}


.bg-orange{
    background-color: orange;
}

.bg-aqua{
    background-color: aqua;
}

.menu{
    width: 100%;
    align-items: center;
}

.logo{
    border: 2px solid black;
    width: 20%;
    height: 100%;
}

.link{
    border: 2px solid black;
    width: 60%;
    height: 100%;
    text-align: center;
}

.login{
    border: 2px solid black;
    width: 20%;
    height: 100%;
    text-align: end;
}