*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*LINK SENZA DECORAZIONE*/

a{
    text-decoration: none;
}

/*BACKGROUND COLOR*/

.bg-orange{
    background-color: orange;
}
.bg-aqua{
    background-color: rgb(169, 250, 250);
}

/*GRANDEZZE WIDTH*/

.width-80{
    width: 80%;
}

/*FLEX*/
.flex{
    display: flex;
}

/*ALIGN-ITEMS: CENTER*/
.align-items-center{
    justify-content: center;
    align-items: center;
}

/*HEADER*/

header{
    height: 65px;
    justify-content: center;
    align-items: center;
}

/*MENU*/

.menu{
    max-width: 800px;
    height: 50%;
}

/*CONTENUTO DEL MENU*/

.logo{
    justify-content: flex-start;
    border: 2px solid black;
    width: 20%;
    height: 100%;
    text-align: start;
}

.link{
    justify-content: center;
    border: 2px solid black;
    width: 60%;
    height: 100%;
    text-align: center;
}

.login{
    justify-content: flex-end;
    border: 2px solid black;
    width: 20%;
    height: 100%;
    text-align: end;
}

/*distacco tra i link*/

.link a{
    margin: 5px;
}

/*distacco per logo e link*/

div .margin-5{
    margin: 10px;
}




